@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Adam Nearing
   Date: Feb. 22, 2023
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */
html {
   height: 100%;
}

body {
   margin: 0 auto;
   padding: 0;
   min-height: 100%;
   width: 95%;
   max-width: 960px;
}

img {
   display: block;
}

/* CSS Grid Styles */
body {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}

#logo {
   grid-column: 1 / span 3;
   width: 100%;
}

nav, footer (
   grid-column: 1 / 4;
)

aside {
   grid-column: 1 / span 2;
}

aside:nth-of-type(odd) {
   justify-self: end;
}

aside img {
   float: left;
   width: 20%;
}

aside p {
   float: left;
   width: 75%;
   margin-left: 5%;
}

/* Horizontal Navigation List Styles */
nav ul {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   grid-column: 1 / span 4;
}

nav li {
   display: block;
   width: 12.5%;
   float: left;
   text-align: center;
}


/* Section Styles */
section img {
   width: 50%;
   margin: 0 auto;
}

section p {
   width
}



/* Customer Comment Styles */
.customer-comments {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 20px;
}
